@font-face {
  font-family: "PFBeausanspro-light"; /* Имя шрифта */
  src: url('assets/public/fonts/pfbeausanspro-light.ttf'); /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: "PFBeausanspro-regular"; /* Имя шрифта */
  src: url('assets/public/fonts/pfbeausanspro-reg.ttf'); /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: "PFBeausanspro-thin"; /* Имя шрифта */
  src: url('assets/public/fonts/pfbeausanspro-thin.ttf'); /* Путь к файлу со шрифтом */
}