$colors: (
        white: #fff,
        white-gray: #f3f3f3,
        white-gray-light:#fafafa,
        accent-red: #d8262e,
        gray: #58595b,
        gray-light: #a3a3a3,
        dark-gray: #4a4a4b,
        blue: #0e4675
)